body{
    background: #f0c27b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f0c27b, #4b1248); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f0c27b, #4b1248); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;

    color: #fafafa;
}
.item{
    border-radius: 10px;
    width: 15rem;
    height: auto;
    background-color: rgba(40,40,50,55%);
    p{
        padding: 10px;
    }
    h1{
        padding: 10px;
    }
}

.top{
    background-color: rgba(0, 0, 0, 50%) ;
    position: fixed;
    display: block;

    .prfilePik{
        height: auto;
        width: 10px;
    }
}